
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Diabetes Prediction</title>
</head>
    <body text="red" bgcolor="white">
        </center>
        <h1>Diabetes Prediction...</h1>
        <form method="POST" action="/diabetes_prediction">
            <b> Glucose  :  <input type="text", name='Glucose', placeholder="enter "> <br><br>
              BloodPressure  :  <input type="text", name='BloodPressure', placeholder="enter "> <br><br>
              SkinThickness  :  <input type="text", name='SkinThickness', placeholder="enter "> <br><br>
              Insulin  :  <input type="text", name='Insulin', placeholder="enter "> <br><br>
              BMI  :  <input type="text", name='BMI', placeholder="enter "> <br><br>
              DiabetesPedigreeFunction  :  <input type="text", name='DiabetesPedigreeFunction', placeholder="enter "> <br><br>
              Age  : <input type="text", name='Age', placeholder="enter "> <br><br><br></b>
        <!-- <label>Glucose</label><br>
        <input type="text" name="Glucose"><br><br>

        <label>BloodPressure</label><br>
        <input type="text" name="BloodPressure"><br><br>

        <label>SkinThickness</label><br>
        <input type="text" name="SkinThickness"><br><br>

        <label>Insulin</label><br>
        <input type="text" name="Insulin"><br><br>

        <label>BMI</label><br>
        <input type="text" name="BMI"><br><br>

        <label>DiabetesPedigreeFunction</label><br>
        <input type="text" name="DiabetesPedigreeFunction"><br><br>

        <label>Age</label><br>
        <input type="text" name="Age"><br><br> -->

        <input type="SUBMIT" name="Predict"><br><br>
        </form>
        <img src='static\download.jpg' alt="yes/no">
    </center>
    </body>
</html>
















<!-- <!Doctype html>
<html>
  <head>
    <title>The page title</title>
  </head>
  <body>
    <article>
      The main content or article.
    </article>
    <section>
      Some info about the author. 
      <div id="author_birthday">
        Their birthday, styled in a specific way.
      </div>
    </section>
  </body>
</html> -->